# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output of the go coverage tool, specifically when used with LiteIDE
*.coverprofile

# Configuration file for LiteIDE
.liteide/

# IDE directories
.idea/
.vscode/
*.swp

# Go workspace file
go.work

# Dependency directories
vendor/

# Go build cache
go-build/

# Go test cache
go-test-cache/

# Go module files
go.sum

# env file
.env

#config tern file
./migrations/tern.conf
